#title {
    margin-top: 12px;
    background-color: #fff;
    color: #000;

}
#menu {
    border-top: solid 6px #f00;
    background-color: #f00;
    color: #fff;
    height: 400px;
}

#menu a {
    background-color: #f00;
    color: #fff;
    text-decoration: none;
    display: block;
}
#menu a:hover {
    background-color: #f00;
    color: #ddd;
    text-decoration:underline;
    display: block;
}

#content {
    background-color: #fff;
    border-top: solid 6px #f00;

}

#footer {
    background-color: #1b70c4;
}

.matthew-class
{
    padding-bottom: 300px;
}

.matt-fard
{
    padding-bottom:50px;
}

#form-message
{
    padding-top:7px;
    padding-bottom:7px;
    max-width: 50%;
    margin:auto;
}

#profile-text
{
    padding-top:30px;
    padding-bottom:2px;
}
